
<h2>Доступ к данной странице недоступен. Недостаточно полномочий.</h2>
<form asp-area="" asp-controller="Home" asp-action="Index" >
    <input type="submit" value="Перейти на главную страницу" />
</form>